/* Your Website Styles */

h1 {
	font-family: 'Arimo', sans-serif;
	color: white;
}


body {
	background: #7C7159;
}

.show {
	margin-top: 75px;
	background: none;
	border-radius: 5px;
}

div a img {
	border: 8px solid #77A490;
	margin: 3px;
}

.target {
		border: 8px solid #77A490;
	position: absolute;
	left: 750px;
	top: 190px;
}


.view {
	position: fixed;
	left: 550px;
	top: 20px;
  font-family: sans-serif;
  background: #086B63;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
}

.target img {
  opacity: 0;
  border: 0px;
    -webkit-transition: .5s ease-in-out;
}

.target p {
	  opacity: 0;
    -webkit-transition: .5s ease-in-out;

}

.target:target p {
	opacity: 1;
}

.target:target img {
  opacity: 1;
}






/* Show Grid 
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
} */