/* Your Website Styles */

h1 {
	font-family: 'Arimo', sans-serif;
	color: white;
}

.logo {
	height: 30%;
	width: 30%;
	position: relative;
	top: 20px;
	left: 150px;
}

p {
	font-family: 'Arimo', sans-serif;
}

body {
	background: #7C7159;
}

.show {
	margin-top: 75px;
	background: none;
	border-radius: 5px;
}

div a img {
	border: 8px solid #77A490;
	margin: 3px;
	width: 15%;
	height: 15%;
}

div a img:hover {
	border: 8px solid #086B63;
	    -webkit-transition: .25s ease-in-out;
}

.target {

	position: absolute;
	left: 750px;
	top: 290px;
}


.view {
	position: fixed;
	left: 550px;
	top: 20px;
  font-family: sans-serif;
  background: #086B63;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
}

.target img {
  opacity: 0;
  border: 0px;
    -webkit-transition: .5s ease-in-out;
}

.target p {
	  opacity: 0;
	  border: 0px;
    -webkit-transition: .5s ease-in-out;

}

.target:target p {
	max-width: 300px;
			border: 8px solid #086B63;
			background: #086B63;
	opacity: 1;
}

.target:target img {
	width: 50%;
	height: 50%;
			border: 8px solid #086B63;
  opacity: 1;
}






/* Show Grid 
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
} */